app/code/local/Schracklive/SchrackCheckout/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <message name="shoppingCartProductAddRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="quoteId" type="xsd:int"/>
        <part name="products" type="typens:shoppingCartProductEntityArray"/>
        <part name="storeId" type="xsd:string"/>
    </message>
    <message name="shoppingCartProductAddResponse">
        <part name="result" type="xsd:boolean"/>
    </message>
    <message name="shoppingCartCreateForCustomerRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="email" type="xsd:string"/>
        <part name="password" type="xsd:string"/>
        <part name="storeId" type="xsd:string"/>
    </message>
    <message name="shoppingCartCreateForCustomerResponse">
        <part name="quoteId" type="xsd:int"/>
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="shoppingCartCreateForCustomer">
            <documentation>Create shopping cart for customer</documentation>
            <input message="typens:shoppingCartCreateForCustomerRequest"/>
            <output message="typens:shoppingCartCreateForCustomerResponse"/>
        </operation>
        <operation name="shoppingCartProductAdd">
            <documentation>Add product(s) to shopping cart</documentation>
            <input message="typens:shoppingCartProductAddRequest"/>
            <output message="typens:shoppingCartProductAddResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="shoppingCartCreateForCustomer">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="shoppingCartProductAdd">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
</definitions>
