app/code/local/Schracklive/GeoIP/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <message name="geoipGetRedirectCountryRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="userIP" type="xsd:string"/>
        <part name="serverName" type="xsd:string"/>
        <part name="localUri" type="xsd:string"/>
        <part name="userAgent" type="xsd:string"/>
    </message>
    <message name="geoipGetRedirectCountryResponse">
        <part name="result" type="xsd:string"/>
    </message>
    <message name="geoipGetRedirectUrlRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="userIP" type="xsd:string"/>
        <part name="serverName" type="xsd:string"/>
        <part name="localUri" type="xsd:string"/>
        <part name="userAgent" type="xsd:string"/>
    </message>
    <message name="geoipGetRedirectUrlResponse">
        <part name="result" type="xsd:string"/>
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="geoipGetRedirectCountry">
            <documentation>Get the needed redirection country for the customer</documentation>
            <input message="typens:geoipGetRedirectCountryRequest"/>
            <output message="typens:geoipGetRedirectCountryResponse"/>
        </operation>
        <operation name="geoipGetRedirectUrl">
            <documentation>Get the needed redirection url for the customer</documentation>
            <input message="typens:geoipGetRedirectUrlRequest"/>
            <output message="typens:geoipGetRedirectUrlResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="geoipGetRedirectCountry">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>        
        <operation name="geoipGetRedirectUrl">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>        
    </binding>
</definitions>
