app/code/local/Customweb/PayUnityCw/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="payunitycwTransactionEntity">
                <xsd:sequence>
                    <xsd:element name="transaction_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="transaction_external_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="order_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="order_payment_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="alias_for_display" type="xsd:string" minOccurs="0" />
                    <xsd:element name="alias_active" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="payment_method" type="xsd:string" minOccurs="0" />
                    <xsd:element name="authorization_type" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="updated_on" type="xsd:string" minOccurs="0" />
                    <xsd:element name="created_on" type="xsd:string" minOccurs="0" />
                    <xsd:element name="payment_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="authorization_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="authorization_status" type="xsd:string" minOccurs="0" />
                    <xsd:element name="paid" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="currency" type="xsd:string" minOccurs="0" />
                    <xsd:element name="data" type="typens:associativeArray" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="payunitycwTransactionEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:payunitycwTransactionEntity" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="payunitycwTransactionListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="filters" type="typens:filters" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="payunitycwTransactionListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:payunitycwTransactionEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="payunitycwTransactionInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="transactionId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="attributes" type="typens:ArrayOfString" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="payunitycwTransactionInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:payunitycwTransactionEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="payunitycwTransactionInfoByPaymentIdRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="paymentId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="attributes" type="typens:ArrayOfString" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="payunitycwTransactionInfoByPaymentIdResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:payunitycwTransactionEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="payunitycwTransactionListRequest">
        <wsdl:part name="parameters" element="typens:payunitycwTransactionListRequestParam" />
    </wsdl:message>
    <wsdl:message name="payunitycwTransactionListResponse">
        <wsdl:part name="parameters" element="typens:payunitycwTransactionListResponseParam" />
    </wsdl:message>
    <wsdl:message name="payunitycwTransactionInfoRequest">
        <wsdl:part name="parameters" element="typens:payunitycwTransactionInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="payunitycwTransactionInfoResponse">
        <wsdl:part name="parameters" element="typens:payunitycwTransactionInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="payunitycwTransactionInfoByPaymentIdRequest">
        <wsdl:part name="parameters" element="typens:payunitycwTransactionInfoByPaymentIdRequestParam" />
    </wsdl:message>
    <wsdl:message name="payunitycwTransactionInfoByPaymentIdResponse">
        <wsdl:part name="parameters" element="typens:payunitycwTransactionInfoByPaymentIdResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="payunitycwTransactionList">
            <wsdl:documentation>Retrieve PayUnityCw Transactions</wsdl:documentation>
            <wsdl:input message="typens:payunitycwTransactionListRequest" />
            <wsdl:output message="typens:payunitycwTransactionListResponse" />
        </wsdl:operation>
        <wsdl:operation name="payunitycwTransactionInfo">
            <wsdl:documentation>Retrieve PayUnityCw Transaction Data By Transaction Id</wsdl:documentation>
            <wsdl:input message="typens:payunitycwTransactionInfoRequest" />
            <wsdl:output message="typens:payunitycwTransactionInfoResponse" />
        </wsdl:operation>
        <wsdl:operation name="payunitycwTransactionInfoByPaymentId">
            <wsdl:documentation>Retrieve PayUnityCw Transaction Data By Payment Id</wsdl:documentation>
            <wsdl:input message="typens:payunitycwTransactionInfoByPaymentIdRequest" />
            <wsdl:output message="typens:payunitycwTransactionInfoByPaymentIdResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="payunitycwTransactionList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="payunitycwTransactionInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
         <wsdl:operation name="payunitycwTransactionInfoByPaymentId">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
